 # **Abandono Escolar en Nivel Secundario - Tierra del Fuego**

In [2]:
import pandas as pd
import numpy as np

# **Adquisisión de datos**

### Definimos la ruta base donde se encuentran los dataset a utilizar, luego cargamos cada uno de ellos en una variable

In [5]:
base_path = r'C:/Users/maric/OneDrive/Documentos/Aprendizaje automático/Docs abandono escolar/DATA/'


# 1. Dataset de PROMOCIÓN, SOBREEDAD y ABANDONO
promocion_path = base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx'
promocion_df = pd.read_excel(promocion_path)

# 2. Dataset de MATRÍCULA
matricula_path = base_path + '04-1-09-Secundario-comun.-Matricula-por-sector-de-gestion-ano-de-estudio-y-departamento.-TDF-USH-RGA-y-AA.xlsx'
matricula_df = pd.read_excel(matricula_path)

# 3. Dataset de REPITENTES
repitentes_path = base_path + '04-1-10-Secundario-comun.-Repitentes-por-sector-de-gestion-y-ano-de-estudio.-2008-2021.xlsx'
repitentes_df = pd.read_excel(repitentes_path, skiprows=6)

# Confirmación de carga
print("✔️ Datos cargados correctamente")
print("promocion_df →", promocion_df.shape)
print("matricula_df →", matricula_df.shape)
print("repitentes_df →", repitentes_df.shape)

✔️ Datos cargados correctamente
promocion_df → (9, 1)
matricula_df → (38, 18)
repitentes_df → (22, 27)

# **Exploración y preparación de datos**

In [7]:
repitentes_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2008,14.61,18.86,2.50,NaN,18.19,18.77,15.88,16.20,9.24,...,9.63,0.30,NaN,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,NaN,18.63,17.73,15.11,10.57,8.06,...,9.74,0.28,NaN,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,NaN,18.52,19.49,13.43,13.03,8.70,...,12.01,0.70,NaN,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,NaN,19.39,22.02,13.79,13.15,7.05,...,5.49,1.51,NaN,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10,13.1,2.19,NaN,13.47,16.11,9.84,7.73,5.46,...,4.43,0.12,NaN,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,NaN,10.02,17.18,14.23,7.57,6.12,...,4.67,1.08,NaN,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,NaN,12.13,16.04,10.73,8.76,4.84,...,6.34,0.00,NaN,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,NaN,8.44,12.53,8.82,7.22,6.15,...,5.75,0.00,NaN,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,NaN,7.59,12.03,9.17,8.09,5.54,...,5.13,0.23,NaN,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,NaN,6.18,11.04,8.65,8.10,5.65,...,7.85,0.73,NaN,6.27,5.44,9.79,8.16,7.24,3.87,0.63

### Eliminación de filas nulas o vacias + reordenación del índice

In [9]:
# Eliminar columnas completamente vacías
repitentes_df = repitentes_df.dropna(axis=1, how='all')

# Eliminar filas completamente vacías (muy útil si al final hay NaNs)
repitentes_df = repitentes_df.dropna(axis=0, how='all')

# Reiniciar índice para orden
repitentes_df.reset_index(drop=True, inplace=True)

repitentes_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10,13.1,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85

In [10]:
repitentes_df.shape

(19, 24)

In [11]:
repitentes_df.columns.tolist()

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26']

In [12]:
repitentes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   19 non-null     object
 1   Unnamed: 1   14 non-null     object
 2   Unnamed: 2   14 non-null     object
 3   Unnamed: 3   14 non-null     float64
 4   Unnamed: 5   14 non-null     object
 5   Unnamed: 6   14 non-null     float64
 6   Unnamed: 7   14 non-null     float64
 7   Unnamed: 8   14 non-null     float64
 8   Unnamed: 9   14 non-null     float64
 9   Unnamed: 10  14 non-null     float64
 10  Unnamed: 12  14 non-null     object
 11  Unnamed: 13  14 non-null     float64
 12  Unnamed: 14  14 non-null     float64
 13  Unnamed: 15  14 non-null     float64
 14  Unnamed: 16  14 non-null     float64
 15  Unnamed: 17  14 non-null     float64
 16  Unnamed: 18  14 non-null     float64
 17  Unnamed: 20  14 non-null     float64
 18  Unnamed: 21  14 non-null     float64
 19  Unnamed: 22  14 non-null     float64
 20  Unnamed: 23  14 non-null     float64
 21  Unnamed: 24  14 non-null     float64
 22  Unnamed: 25  14 non-null     float64
 23  Unnamed: 26  14 non-null     float64
dtypes: float64(19), object(5)
memory usage: 3.7+ KB

In [13]:
# Verificar cuántas columnas reales quedan
print(f"Columnas reales: {len(repitentes_df.columns)}")

# Renombrar columnas según la estructura de la imagen
repitentes_df.columns = [
    "Año",
    "Porc_Total",
    "Porc_Estatal",
    "Porc_Privado",
    "1º Año",
    "2º Año",
    "3º Año",
    "4º Año",
    "5º Año",
    "6º Año",
    "Ush_Total",
    "1º Año USH",
    "2º Año USH",
    "3º Año USH ",
    "4º Año USH",
    "5º Año USH",
    "6º Año USH",
    "RG_Total",
    "1º Año RG ",
    "2º Año RG",
    "3º Año RG",
    "4º Año RG",
    "5º Año RG",
    "6º Año RG"
]

# Convertir todas las columnas (menos Año) a numérico
for col in repitentes_df.columns:
    if col != "Año":
        repitentes_df[col] = pd.to_numeric(repitentes_df[col], errors='coerce')

# Mostrar primeras filas
from IPython.display import display, HTML

display(HTML("<h2 style='color: darkblue;'>✔️ Dataframe limpio de repitentes</h2>"))
repitentes_df.head()

Columnas reales: 24

,Año,Porc_Total,Porc_Estatal,Porc_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,...,4º Año USH,5º Año USH,6º Año USH,RG_Total,1º Año RG,2º Año RG,3º Año RG,4º Año RG,5º Año RG,6º Año RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85

In [14]:
print(len(matricula_df.columns))
matricula_df.columns.tolist()

18

['Secundario común. Matrícula por sector de gestión, año de estudio y departamento. Departamentos Ushuaia, Río Grande y Antártida Argentina, provincia de Tierra del Fuego AeIAS. Años 2000-2022',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17']

In [15]:
matricula_df = matricula_df.dropna(axis=1, how='all')
matricula_df = matricula_df.dropna(axis=0, how='all')
matricula_df = matricula_df.loc[:, ~matricula_df.isin(["…", ".", ""]).all()]
# Resetear el índice
matricula_df.reset_index(drop=True, inplace=True)

# Confirmar cantidad de filas reales
print(f"✔️ Filas válidas: {matricula_df.shape[0]}")
display(matricula_df.tail())

matricula_df.head(30)

✔️ Filas válidas: 33

,"Secundario común. Matrícula por sector de gestión, año de estudio y departamento. Departamentos Ushuaia, Río Grande y Antártida Argentina, provincia de Tierra del Fuego AeIAS. Años 2000-2022",Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
28,- Cero absoluto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,… Dato no disponible a la fecha de presentació...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,. Dato no registrado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Nota: La información se presenta en función de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Fuente: Ministerio de Educación y Cultura de l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,"Secundario común. Matrícula por sector de gestión, año de estudio y departamento. Departamentos Ushuaia, Río Grande y Antártida Argentina, provincia de Tierra del Fuego AeIAS. Años 2000-2022",Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Año,Matrícula del nivel secundario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Matrícula,Sector de gestión,NaN,Año de estudio,NaN,NaN,NaN,NaN,NaN,NaN,Departamento,NaN,NaN,NaN
2,NaN,NaN,Estatal,Privado,1,2.0,3.0,4.0,5.0,6.0,7.0,Ushuaia,Río Grande (1),Tolhuin (1),Antártida Argentina
3,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,…,…,.,…
4,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,…,…,.,…
5,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,…,…,.,…
6,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,…,…,.,…
7,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,…,…,.,…
8,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,…,…,.,…
9,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,…,…,.,…
10,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,…,…,.,…
11,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,…,…,.,…
12,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920,8076,.,0
13,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,0.0,6879,8039,.,0
14,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,0.0,6862,8073,.,0
15,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,0.0,6937,8328,.,0
16,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,0.0,7011,8690,.,0
17,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,9.0,7046,9043,.,0
18,2015,16109,11673,4436,3223,3255.0,2924.0,2576.0,2146.0,1963.0,22.0,6908,9201,.,0
19,2016,16402,11795,4607,3216,3316.0,2935.0,2633.0,2312.0,1934.0,56.0,6990,9412,.,0
20,2017,16713,12034,4679,3092,3352.0,2971.0,2642.0,2337.0,2068.0,251.0,7148,9565,.,0
21,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,260.0,7192,9904,.,0
22,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,280.0,7221,10030,.,0
23,2020,17685,13148,4537,3095,3160.0,3126.0,2930.0,2750.0,2329.0,295.0,7374,10311,.,0
24,2021,18139,13550,4589,3015,3071.0,3098.0,3100.0,2856.0,2681.0,318.0,7422,10717,.,0
25,2022,18045,13418,4627,3015,3125.0,2991.0,3031.0,2923.0,2607.0,353.0,7393,9996,656,-
26,"(1) Hasta el año 2021, la matrícula de Tolhuin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,(*) Dato provisorio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,- Cero absoluto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,… Dato no disponible a la fecha de presentació...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Renombrar columnas útiles (15 visibles)
matricula_df.columns = [
    "Año",
    "Mat_Total",
    "Mat_Estatal",
    "Mat_Privado",
    "1º Año",
    "2º Año",
    "3º Año",
    "4º Año",
    "5º Año",
    "6º Año",
    "7º Año",
    "Ushuaia",
    "RG",
    "Tolhuin",
    "Antartida"
]
# 1. Limpiar columna "Año"
matricula_df["Año"] = (
    matricula_df["Año"]
    .astype(str)
    .str.replace(r"\s+", "", regex=True)
    .str.replace(u"\xa0", "", regex=False)
    .str.strip()
)

# 2. Filtrar solo filas con años válidos (exactamente 4 dígitos y numéricos)
matricula_df = matricula_df[matricula_df["Año"].str.match(r"^\d{4}$")]
matricula_df["Año"] = matricula_df["Año"].astype(int)
matricula_df = matricula_df[matricula_df["Año"].between(2000, 2022)]

# Eliminar columnas Antártida y Tolhuin si existen
matricula_df = matricula_df.drop(columns=["Tolhuin", "Antartida"], errors="ignore")

# 3. Reiniciar índice
matricula_df.reset_index(drop=True, inplace=True)

# 4. Confirmación
print(matricula_df["Año"].unique())
print("✔️ Filas válidas:", matricula_df.shape[0])
display(matricula_df.tail())


# Mostrar resultado final
display(HTML("<h2 style='color: darkblue;'>✔️ Dataframe limpio de matrícula</h2>"))
matricula_df.head(30)

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022]
✔️ Filas válidas: 23

,Año,Mat_Total,Mat_Estatal,Mat_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,7º Año,Ushuaia,RG
18,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,260.0,7192,9904
19,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,280.0,7221,10030
20,2020,17685,13148,4537,3095,3160.0,3126.0,2930.0,2750.0,2329.0,295.0,7374,10311
21,2021,18139,13550,4589,3015,3071.0,3098.0,3100.0,2856.0,2681.0,318.0,7422,10717
22,2022,18045,13418,4627,3015,3125.0,2991.0,3031.0,2923.0,2607.0,353.0,7393,9996

,Año,Mat_Total,Mat_Estatal,Mat_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,7º Año,Ushuaia,RG
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,…,…
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,…,…
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,…,…
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,…,…
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,…,…
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,…,…
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,…,…
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,…,…
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,…,…
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920,8076
10,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,0.0,6879,8039
11,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,0.0,6862,8073
12,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,0.0,6937,8328
13,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,0.0,7011,8690
14,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,9.0,7046,9043
15,2015,16109,11673,4436,3223,3255.0,2924.0,2576.0,2146.0,1963.0,22.0,6908,9201
16,2016,16402,11795,4607,3216,3316.0,2935.0,2633.0,2312.0,1934.0,56.0,6990,9412
17,2017,16713,12034,4679,3092,3352.0,2971.0,2642.0,2337.0,2068.0,251.0,7148,9565
18,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,260.0,7192,9904
19,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,280.0,7221,10030
20,2020,17685,13148,4537,3095,3160.0,3126.0,2930.0,2750.0,2329.0,295.0,7374,10311
21,2021,18139,13550,4589,3015,3071.0,3098.0,3100.0,2856.0,2681.0,318.0,7422,10717
22,2022,18045,13418,4627,3015,3125.0,2991.0,3031.0,2923.0,2607.0,353.0,7393,9996

In [17]:
# Cargar hoja de promoción efectiva y sobreedad
cuadro1_df = pd.read_excel(
    base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx',
    sheet_name='cuadro 1',
    skiprows=4  # si ves texto antes, podés ajustar este número
)

# Cargar hoja de abandono interanual
cuadro2_df = pd.read_excel(
    base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx',
    sheet_name='cuadro 2',
    skiprows=4
)

# Mostrar primeros datos
print("📊 Cuadro 1: Promoción efectiva y sobreedad")
display(cuadro1_df.head(10))

print("\n📊 Cuadro 2: Abandono interanual")
display(cuadro2_df.head(10))

📊 Cuadro 1: Promoción efectiva y sobreedad

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253,NaN,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
2,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589,NaN,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
3,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398,NaN,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
4,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902,NaN,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
5,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782,NaN,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
6,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157,NaN,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
7,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727,NaN,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
8,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795,NaN,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
9,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642,NaN,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217

📊 Cuadro 2: Abandono interanual

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/2011,9.706395,5.047127,6.509067,10.237389,10.440035,9.058157,28.156566
2,2011/2012,8.670907,4.308461,4.878049,8.575746,8.433237,9.366958,28.811450
3,2012/2013,7.840440,2.397159,6.198083,5.448354,9.942717,5.604720,25.106903
4,2013/2014,6.935864,4.358354,7.409621,2.786033,7.278743,3.438530,22.619703
5,2014/2015,9.340796,2.305749,7.226792,7.946336,8.146640,5.481955,32.108218
6,2015/2016,8.062411,1.365188,5.130568,11.935705,8.423913,3.448276,29.291900
7,2016/2017,7.959134,0.590796,6.483715,8.074957,8.013673,5.536332,25.387797
8,2017/2018,6.457296,-0.873221,4.982100,6.395153,6.018168,2.310655,25.145068
9,2018/2019,7.151342,1.771031,3.881140,4.329427,6.975895,2.873803,28.960739

In [18]:
# Eliminar la primera fila vacía de ambos cuadros
cuadro1_df = cuadro1_df.drop(index=0).reset_index(drop=True)
cuadro2_df = cuadro2_df.drop(index=0).reset_index(drop=True)

In [19]:
cuadro1_df.drop(cuadro1_df.columns[8], axis=1, inplace=True)
display(cuadro1_df.head(10))

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000

In [20]:
# Parte A: Promoción efectiva (columnas 0 a 8 excluyendo las vacías si ya las borraste)
promocion_df_clean = cuadro1_df.iloc[:, 0:8].copy()
display(promocion_df_clean.head())
# Parte B: Sobreedad (columnas desde la columna 8 en adelante)
sobreedad_df_clean = cuadro1_df.iloc[:, 8:].copy()
display(sobreedad_df_clean.head())

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782

,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [21]:
# Copiar la columna 'Año' desde promoción
sobreedad_df_clean.insert(0, "Año", promocion_df_clean["Unnamed: 0"].values)
display(sobreedad_df_clean.head())

,Año,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [22]:
promocion_df_clean.columns = [
    "Año",
    "Porc_Total",
    "1° Año",
    "2° Año",
    "3° Año",
    "4° Año",
    "5° Año",
    "6° Año"
]

promocion_df_clean = promocion_df_clean.drop(index=[11,12, 13, 14, 15, 16])
promocion_df_clean.head(20)

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37
10,2020,93.48,100.39,99.1,100.26,98.08,97.81,56.98

In [23]:
sobreedad_df_clean.columns = [
    "Año",
    "Porc_Total",
    "1° Año",
    "2° Año",
    "3° Año",
    "4° Año",
    "5° Año",
    "6° Año"
]
sobreedad_df_clean.head()

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [24]:
cuadro2_df.head()

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2010/2011,9.706395,5.047127,6.509067,10.237389,10.440035,9.058157,28.156566
1,2011/2012,8.670907,4.308461,4.878049,8.575746,8.433237,9.366958,28.811450
2,2012/2013,7.840440,2.397159,6.198083,5.448354,9.942717,5.604720,25.106903
3,2013/2014,6.935864,4.358354,7.409621,2.786033,7.278743,3.438530,22.619703
4,2014/2015,9.340796,2.305749,7.226792,7.946336,8.146640,5.481955,32.108218

In [25]:
cuadro2_df.columns = [
    "Año",
    "Porc_Total",
    "1° Año",
    "2° Año",
    "3° Año",
    "4° Año",
    "5° Año",
    "6° Año"
]

In [26]:
abandono_df = cuadro2_df.copy()
abandono_df.head(30)

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010/2011,9.706395,5.047127,6.509067,10.237389,10.440035,9.058157,28.156566
1,2011/2012,8.670907,4.308461,4.878049,8.575746,8.433237,9.366958,28.811450
2,2012/2013,7.840440,2.397159,6.198083,5.448354,9.942717,5.604720,25.106903
3,2013/2014,6.935864,4.358354,7.409621,2.786033,7.278743,3.438530,22.619703
4,2014/2015,9.340796,2.305749,7.226792,7.946336,8.146640,5.481955,32.108218
5,2015/2016,8.062411,1.365188,5.130568,11.935705,8.423913,3.448276,29.291900
6,2016/2017,7.959134,0.590796,6.483715,8.074957,8.013673,5.536332,25.387797
7,2017/2018,6.457296,-0.873221,4.982100,6.395153,6.018168,2.310655,25.145068
8,2018/2019,7.151342,1.771031,3.881140,4.329427,6.975895,2.873803,28.960739
9,2019/2020,5.550000,-0.660000,3.530000,4.740000,5.160000,1.230000,23.420000
10,2020/2021,6.520000,-0.420000,0.900000,-0.260000,1.920000,2.190000,43.020000
11,2021/2022,5.710000,-1.230000,1.820000,3.620000,4.580000,5.530000,21.890000
12,Nota: La información se presenta en función de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Fuente: Ministerio de Educación, Cultura, Cien...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# 3. Eliminar columnas completamente vacías (separadoras visuales)
abandono_df = abandono_df.dropna(axis=1, how='all')

# 5. Reemplazar valores no válidos
abandono_df.replace(["…", ".", "-", "—"], pd.NA, inplace=True)

# 6. Convertir columnas numéricas (excepto Año)
for col in abandono_df.columns:
    if col != "Año":
        abandono_df[col] = pd.to_numeric(abandono_df[col], errors='coerce')

# 7. Redondear a 2 decimales
for col in abandono_df.columns:
    if col != "Año":
        abandono_df[col] = abandono_df[col].round(2)
# Eliminar filas donde todas las columnas (excepto Año) están vacías o no numéricas
abandono_df = abandono_df.dropna(subset=["Porc_Total"], how='any').reset_index(drop=True)

# 8. Verificar resultado
display(abandono_df.head(20))

          Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0   2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1   2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2   2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3   2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4   2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5   2015/2016        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6   2016/2017        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7   2017/2018        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8   2018/2019        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9   2019/2020        5.55   -0.66    3.53    4.74    5.16    1.23   23.42
10  2020/2021        6.52   -0.42    0.90   -0.26    1.92    2.19   43.02
11  2021/2022        5.71   -1.23    1.82    3.62    4.58    5.53   21.89

In [28]:
# Asegurarse de que todas las columnas "Año" sean string y sin espacios
for df in [promocion_df_clean, sobreedad_df_clean, abandono_df]:
    df["Año"] = df["Año"].astype(str).str.strip()

In [29]:
print("📊 Promoción efectiva")
display(promocion_df_clean.head(15))

print("📊 Sobreedad")
display(sobreedad_df_clean.head(15))

print("📊 Abandono interanual")
display(abandono_df.head(15))

print("📊 Repitentes")
display(repitentes_df.head(15))

print("📊 Matrícula")
display(matricula_df.head(15))

📊 Promoción efectiva

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37
10,2020,93.48,100.39,99.1,100.26,98.08,97.81,56.98

📊 Sobreedad

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000
10,2020,22.610000,16.310000,20.030000,23.740000,25.690000,28.310000,22.330000
11,2021,17.230000,8.190000,11.950000,16.660000,20.350000,23.210000,24.130000
12,2022,17.060000,10.380000,14.140000,15.110000,19.660000,21.550000,22.480000
13,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Nota: La información se presenta en función de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

📊 Abandono interanual

          Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0   2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1   2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2   2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3   2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4   2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5   2015/2016        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6   2016/2017        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7   2017/2018        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8   2018/2019        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9   2019/2020        5.55   -0.66    3.53    4.74    5.16    1.23   23.42
10  2020/2021        6.52   -0.42    0.90   -0.26    1.92    2.19   43.02
11  2021/2022        5.71   -1.23    1.82    3.62    4.58    5.53   21.89

📊 Repitentes

,Año,Porc_Total,Porc_Estatal,Porc_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,...,4º Año USH,5º Año USH,6º Año USH,RG_Total,1º Año RG,2º Año RG,3º Año RG,4º Año RG,5º Año RG,6º Año RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63
10,2018,5.45,7.18,0.59,4.93,8.49,6.12,5.73,5.08,0.69,...,6.37,5.61,0.73,5.02,4.26,7.22,6.78,5.23,4.66,0.66
11,2019,5.95,7.75,0.55,5.04,7.43,7.02,6.74,7.13,1.21,...,6.80,8.15,1.58,5.60,5.08,6.79,6.95,6.69,6.31,0.94
12,2020,NaN,NaN,0.00,NaN,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,2021,2.89,3.98,0.35,1.59,3.87,2.91,4.26,3.71,0.75,...,5.05,6.29,1.77,2.58,1.73,2.98,3.72,4.50,2.35,0.00
14,- Dato ígual a cero absoluto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

📊 Matrícula

,Año,Mat_Total,Mat_Estatal,Mat_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,7º Año,Ushuaia,RG
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,…,…
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,…,…
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,…,…
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,…,…
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,…,…
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,…,…
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,…,…
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,…,…
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,…,…
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920,8076
10,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,0.0,6879,8039
11,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,0.0,6862,8073
12,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,0.0,6937,8328
13,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,0.0,7011,8690
14,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,9.0,7046,9043

In [30]:
def limpiar_columna_anio(df):
    df = df.copy()
    df["Año"] = (
        df["Año"]
        .astype(str)
        .str.replace(r"\s+", "", regex=True)
        .str.replace(u"\xa0", "", regex=False)
        .str.strip()
    )
    df = df[df["Año"].str.contains(r"^\d{4}/?\d{0,4}$", regex=True)]
    return df.reset_index(drop=True)

promocion_df_clean = limpiar_columna_anio(promocion_df_clean)
sobreedad_df_clean = limpiar_columna_anio(sobreedad_df_clean)
abandono_df = limpiar_columna_anio(abandono_df)
repitentes_df = limpiar_columna_anio(repitentes_df)
matricula_df = limpiar_columna_anio(matricula_df)

In [31]:
print("📊 Promoción efectiva")
display(promocion_df_clean.head(20))

print("📊 Sobreedad")
display(sobreedad_df_clean.head(20))

print("📊 Abandono interanual")
display(abandono_df.head(20))

print("📊 Repitentes")
display(repitentes_df.head(20))

print("📊 Matrícula")
display(matricula_df.head(20))

📊 Promoción efectiva

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37
10,2020,93.48,100.39,99.1,100.26,98.08,97.81,56.98

📊 Sobreedad

,Año,Porc_Total,1° Año,2° Año,3° Año,4° Año,5° Año,6° Año
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000
10,2020,22.610000,16.310000,20.030000,23.740000,25.690000,28.310000,22.330000
11,2021,17.230000,8.190000,11.950000,16.660000,20.350000,23.210000,24.130000
12,2022,17.060000,10.380000,14.140000,15.110000,19.660000,21.550000,22.480000

📊 Abandono interanual

          Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0   2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1   2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2   2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3   2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4   2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5   2015/2016        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6   2016/2017        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7   2017/2018        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8   2018/2019        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9   2019/2020        5.55   -0.66    3.53    4.74    5.16    1.23   23.42
10  2020/2021        6.52   -0.42    0.90   -0.26    1.92    2.19   43.02
11  2021/2022        5.71   -1.23    1.82    3.62    4.58    5.53   21.89

📊 Repitentes

,Año,Porc_Total,Porc_Estatal,Porc_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,...,4º Año USH,5º Año USH,6º Año USH,RG_Total,1º Año RG,2º Año RG,3º Año RG,4º Año RG,5º Año RG,6º Año RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63
10,2018,5.45,7.18,0.59,4.93,8.49,6.12,5.73,5.08,0.69,...,6.37,5.61,0.73,5.02,4.26,7.22,6.78,5.23,4.66,0.66
11,2019,5.95,7.75,0.55,5.04,7.43,7.02,6.74,7.13,1.21,...,6.80,8.15,1.58,5.60,5.08,6.79,6.95,6.69,6.31,0.94
12,2020,NaN,NaN,0.00,NaN,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,2021,2.89,3.98,0.35,1.59,3.87,2.91,4.26,3.71,0.75,...,5.05,6.29,1.77,2.58,1.73,2.98,3.72,4.50,2.35,0.00

📊 Matrícula

,Año,Mat_Total,Mat_Estatal,Mat_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,7º Año,Ushuaia,RG
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,…,…
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,…,…
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,…,…
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,…,…
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,…,…
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,…,…
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,…,…
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,…,…
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,…,…
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920,8076
10,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,0.0,6879,8039
11,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,0.0,6862,8073
12,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,0.0,6937,8328
13,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,0.0,7011,8690
14,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,9.0,7046,9043
15,2015,16109,11673,4436,3223,3255.0,2924.0,2576.0,2146.0,1963.0,22.0,6908,9201
16,2016,16402,11795,4607,3216,3316.0,2935.0,2633.0,2312.0,1934.0,56.0,6990,9412
17,2017,16713,12034,4679,3092,3352.0,2971.0,2642.0,2337.0,2068.0,251.0,7148,9565
18,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,260.0,7192,9904
19,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,280.0,7221,10030

In [32]:
def estandarizar_anio(df, columna="Año"):
    df = df.copy()
    df[columna] = (
        df[columna]
        .astype(str)
        .str.extract(r"(\d{4})")  # extrae los primeros 4 dígitos
        .astype(float)
        .astype("Int64")          # permite NaN
    )
    return df
promocion_df_clean = estandarizar_anio(promocion_df_clean)
sobreedad_df_clean = estandarizar_anio(sobreedad_df_clean)
abandono_df = estandarizar_anio(abandono_df)
repitentes_df = estandarizar_anio(repitentes_df)
matricula_df = estandarizar_anio(matricula_df)

In [33]:
print("🔎 Años en promoción_df_clean:")
print(promocion_df_clean["Año"].unique())

print("\n🔎 Años en sobreedad_df_clean:")
print(sobreedad_df_clean["Año"].unique())

print("\n🔎 Años en abandono_df:")
print(abandono_df["Año"].unique())

print("\n🔎 Años en matricula_df:")
print(matricula_df["Año"].unique())

print("\n🔎 Años en repitentes_df:")
print(repitentes_df["Año"].unique())

# Convertir a conjuntos
set_prom = set(promocion_df_clean["Año"].dropna())
set_sobre = set(sobreedad_df_clean["Año"].dropna())
set_aband = set(abandono_df["Año"].dropna())
set_matri = set(matricula_df["Año"].dropna())
set_rep = set(repitentes_df["Año"].dropna())

print("📅 Años comunes entre todos los datasets:")
print(set_prom & set_sobre & set_aband & set_matri & set_rep)


# Intersecciones
print("🎯 Años comunes entre los tres:")
print(set_prom & set_sobre & set_aband & set_matri & set_rep)

🔎 Años en promoción_df_clean:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Length: 11, dtype: Int64

🔎 Años en sobreedad_df_clean:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Length: 13, dtype: Int64

🔎 Años en abandono_df:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Length: 12, dtype: Int64

🔎 Años en matricula_df:
<IntegerArray>
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Length: 23, dtype: Int64

🔎 Años en repitentes_df:
<IntegerArray>
[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
 2021]
Length: 14, dtype: Int64
📅 Años comunes entre todos los datasets:
{2016, 2017, 2018, 2019, 2020, 2010, 2011, 2012, 2013, 2014, 2015}
🎯 Años comunes entre los tres:
{2016, 2017, 2018, 2019, 2020, 2010, 2011, 2012, 2013, 2014, 2015}

In [34]:
# Función para convertir y redondear columnas (excepto "Año")
def convertir_y_redondear(df):
    df = df.copy()
    for col in df.columns:
        if col != "Año":
            df[col] = pd.to_numeric(df[col], errors='coerce').round(2)
    return df

# Aplicar a los tres DataFrames originales
promocion_df_clean = convertir_y_redondear(promocion_df_clean)
sobreedad_df_clean = convertir_y_redondear(sobreedad_df_clean)
abandono_df = convertir_y_redondear(abandono_df)

# Mostrar para confirmar
print("📘 Promoción efectiva:")
display(promocion_df_clean.head(5))

print("📗 Sobreedad:")
display(sobreedad_df_clean.head(5))

print("📕 Abandono:")
display(abandono_df.head(5))

📘 Promoción efectiva:

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010       76.53   76.44   74.00   76.34   76.53   82.24   71.28
1  2011       77.00   76.30   73.11   77.64   78.42   83.58   70.38
2  2012       82.16   84.14   77.70   84.71   82.32   88.94   74.40
3  2013       82.61   85.62   75.41   82.99   85.15   90.44   75.23
4  2014       80.94   85.57   76.73   81.32   83.10   89.68   67.89

📗 Sobreedad:

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010       41.06   38.92   44.17   45.18   41.93   38.29   34.60
1  2011       31.30   30.77   33.35   33.39   32.53   27.48   27.48
2  2012       28.47   26.85   30.91   30.33   29.77   27.26   23.82
3  2013       40.48   37.59   40.60   44.43   43.34   41.92   34.18
4  2014       37.95   31.52   40.78   41.73   39.96   37.32   35.99

📕 Abandono:

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014        9.34    2.31    7.23    7.95    8.15    5.48   32.11

In [35]:
print("🔎 Años en promoción_df_clean:")
print(promocion_df_clean["Año"].unique())

print("\n🔎 Años en sobreedad_df_clean:")
print(sobreedad_df_clean["Año"].unique())

print("\n🔎 Años en abandono_df:")
print(abandono_df["Año"].unique())
# Convertir a conjuntos
set_prom = set(promocion_df_clean["Año"])
set_sobre = set(sobreedad_df_clean["Año"])
set_aband = set(abandono_df["Año"])

# Intersecciones
print("🎯 Años comunes entre los tres:")
print(set_prom & set_sobre & set_aband)

🔎 Años en promoción_df_clean:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Length: 11, dtype: Int64

🔎 Años en sobreedad_df_clean:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Length: 13, dtype: Int64

🔎 Años en abandono_df:
<IntegerArray>
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Length: 12, dtype: Int64
🎯 Años comunes entre los tres:
{2016, 2017, 2018, 2019, 2020, 2010, 2011, 2012, 2013, 2014, 2015}

In [36]:
print("📊 Promoción efectiva")
display(promocion_df_clean.head(10))

print("📊 Sobreedad")
display(sobreedad_df_clean.head(10))

print("📊 Abandono interanual")
display(abandono_df.head(10))

print("📊 Repitentes")
display(repitentes_df.head(10))

print("📊 Matrícula")
display(matricula_df.head(10))

📊 Promoción efectiva

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010       76.53   76.44   74.00   76.34   76.53   82.24   71.28
1  2011       77.00   76.30   73.11   77.64   78.42   83.58   70.38
2  2012       82.16   84.14   77.70   84.71   82.32   88.94   74.40
3  2013       82.61   85.62   75.41   82.99   85.15   90.44   75.23
4  2014       80.94   85.57   76.73   81.32   83.10   89.68   67.89
5  2015       84.07   90.16   82.27   79.27   84.36   90.07   70.66
6  2016       84.30   91.82   81.48   82.76   83.90   88.93   73.99
7  2017       86.39   94.70   83.98   84.95   85.88   92.04   74.18
8  2018       87.40   93.30   87.63   89.55   87.29   92.04   70.35
9  2019       88.50   95.63   89.04   88.24   88.10   91.64   75.37

📊 Sobreedad

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010       41.06   38.92   44.17   45.18   41.93   38.29   34.60
1  2011       31.30   30.77   33.35   33.39   32.53   27.48   27.48
2  2012       28.47   26.85   30.91   30.33   29.77   27.26   23.82
3  2013       40.48   37.59   40.60   44.43   43.34   41.92   34.18
4  2014       37.95   31.52   40.78   41.73   39.96   37.32   35.99
5  2015       33.20   27.24   34.69   35.81   36.34   34.58   31.02
6  2016       31.16   24.50   32.63   32.33   33.31   33.56   32.11
7  2017       30.35   23.29   33.95   33.09   31.68   30.85   28.92
8  2018       26.15   18.34   26.44   29.82   28.89   27.53   26.88
9  2019       23.92   14.61   22.45   26.58   28.95   27.67   24.18

📊 Abandono interanual

    Año  Porc_Total  1° Año  2° Año  3° Año  4° Año  5° Año  6° Año
0  2010        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5  2015        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6  2016        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7  2017        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8  2018        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9  2019        5.55   -0.66    3.53    4.74    5.16    1.23   23.42

📊 Repitentes

,Año,Porc_Total,Porc_Estatal,Porc_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,...,4º Año USH,5º Año USH,6º Año USH,RG_Total,1º Año RG,2º Año RG,3º Año RG,4º Año RG,5º Año RG,6º Año RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63

📊 Matrícula

,Año,Mat_Total,Mat_Estatal,Mat_Privado,1º Año,2º Año,3º Año,4º Año,5º Año,6º Año,7º Año,Ushuaia,RG
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,…,…
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,…,…
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,…,…
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,…,…
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,…,…
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,…,…
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,…,…
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,…,…
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,…,…
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920,8076

In [37]:
import os
os.makedirs("data/processed", exist_ok=True)

# Exportar los DataFrames si están definidos
try:
    promocion_df_clean.to_csv("data/processed/promocion_df.csv", index=False)
    print("✅ promocion_df exportado")
except NameError:
    print("❌ promocion_df no está definido")

try:
    sobreedad_df_clean.to_csv("data/processed/sobreedad_df.csv", index=False)
    print("✅ sobreedad_df exportado")
except NameError:
    print("❌ sobreedad_df no está definido")

try:
    abandono_df.to_csv("data/processed/abandono_df.csv", index=False)
    print("✅ abandono_df exportado")
except NameError:
    print("❌ abandono_df no está definido")

try:
    repitentes_df.to_csv("data/processed/repitentes_df.csv", index=False)
    print("✅ repitentes_df exportado")
except NameError:
    print("❌ repitentes_df no está definido")

try:
    matricula_df.to_csv("data/processed/matricula_df.csv", index=False)
    print("✅ matricula_df exportado")
except NameError:
    print("❌ matricula_df no está definido")

✅ promocion_df exportado
✅ sobreedad_df exportado
✅ abandono_df exportado
✅ repitentes_df exportado
✅ matricula_df exportado

In [38]:
import os

print("📍 Ruta completa de los archivos:")
for f in os.listdir("data/processed"):
    print(os.path.abspath("data/processed/" + f))

📍 Ruta completa de los archivos:
C:\Users\maric\abandono-escolar-tdf\notebooks\data\processed\abandono_df.csv
C:\Users\maric\abandono-escolar-tdf\notebooks\data\processed\matricula_df.csv
C:\Users\maric\abandono-escolar-tdf\notebooks\data\processed\promocion_df.csv
C:\Users\maric\abandono-escolar-tdf\notebooks\data\processed\repitentes_df.csv
C:\Users\maric\abandono-escolar-tdf\notebooks\data\processed\sobreedad_df.csv

In [39]:
# MERGE DE TODOS LOS DATAFRAMES

from IPython.display import FileLink
import pandas as pd

# Lista de dataframes y claves comunes
dataframes = [matricula_df, repitentes_df, abandono_df, sobreedad_df_clean, promocion_df_clean]
merge_keys = ["año", "sector_de_gestión", "año_de_estudio", "departamento"]

# Normalizar nombres de columnas
for df in dataframes:
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Asegurar que las claves sean tipo string
for df in dataframes:
    for key in merge_keys:
        if key in df.columns:
            df[key] = df[key].astype(str).str.strip()

# Merge secuencial con sufijos para no perder columnas
df_merged = matricula_df.copy()
for i, df in enumerate([repitentes_df, abandono_df, sobreedad_df_clean, promocion_df_clean], start=1):
    claves_comunes = list(set(merge_keys) & set(df.columns))
    df_merged = pd.merge(df_merged, df, on=claves_comunes, how="outer", suffixes=('', f'_from_df{i}'))

df_merged.head(60)

,año,mat_total,mat_estatal,mat_privado,1º_año,2º_año,3º_año,4º_año,5º_año,6º_año,...,4°_año_from_df3,5°_año_from_df3,6°_año_from_df3,porc_total_from_df4,1°_año_from_df4,2°_año_from_df4,3°_año_from_df4,4°_año_from_df4,5°_año_from_df4,6°_año_from_df4
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,...,41.93,38.29,34.60,76.53,76.44,74.00,76.34,76.53,82.24,71.28
11,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,...,32.53,27.48,27.48,77.00,76.30,73.11,77.64,78.42,83.58,70.38
12,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,...,29.77,27.26,23.82,82.16,84.14,77.70,84.71,82.32,88.94,74.40
13,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,...,43.34,41.92,34.18,82.61,85.62,75.41,82.99,85.15,90.44,75.23
14,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,...,39.96,37.32,35.99,80.94,85.57,76.73,81.32,83.10,89.68,67.89
15,2015,16109,11673,4436,3223,3255.0,2924.0,2576.0,2146.0,1963.0,...,36.34,34.58,31.02,84.07,90.16,82.27,79.27,84.36,90.07,70.66
16,2016,16402,11795,4607,3216,3316.0,2935.0,2633.0,2312.0,1934.0,...,33.31,33.56,32.11,84.30,91.82,81.48,82.76,83.90,88.93,73.99
17,2017,16713,12034,4679,3092,3352.0,2971.0,2642.0,2337.0,2068.0,...,31.68,30.85,28.92,86.39,94.70,83.98,84.95,85.88,92.04,74.18
18,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,...,28.89,27.53,26.88,87.40,93.30,87.63,89.55,87.29,92.04,70.35
19,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,...,28.95,27.67,24.18,88.50,95.63,89.04,88.24,88.10,91.64,75.37
20,2020,17685,13148,4537,3095,3160.0,3126.0,2930.0,2750.0,2329.0,...,25.69,28.31,22.33,93.48,100.39,99.10,100.26,98.08,97.81,56.98
21,2021,18139,13550,4589,3015,3071.0,3098.0,3100.0,2856.0,2681.0,...,20.35,23.21,24.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2022,18045,13418,4627,3015,3125.0,2991.0,3031.0,2923.0,2607.0,...,19.66,21.55,22.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_merged.rename(columns={

    # Totales
    'mat_total': 'mat_total',
    'mat_estatal': 'mat_estatal',
    'mat_privado': 'mat_privado',
    'porc_total': 'rep_total_pct',
    'porc_estatal': 'rep_estatal_pct',
    'porc_privado': 'rep_privado_pct',
    'porc_total_from_df2': 'aband_total_pct',
    'porc_total_from_df3': 'sobr_total_pct',
    'porc_total_from_df4': 'prom_total_pct',

    # Matrícula por curso (duplicadas con º y °)
    '1º_año': 'mat_1°',
    '2º_año': 'mat_2°',
    '3º_año': 'mat_3°',
    '4º_año': 'mat_4°',
    '5º_año': 'mat_5°',
    '6º_año': 'mat_6°',
    '7º_año': 'mat_7°',

    # Versiones con símbolo correcto
    '1°_año': 'mat_1°',
    '2°_año': 'mat_2°',
    '3°_año': 'mat_3°',
    '4°_año': 'mat_4°',
    '5°_año': 'mat_5°',
    '6°_año': 'mat_6°',

    # Repitencia
    '1º_año_from_df1': 'rep_1°',
    '2º_año_from_df1': 'rep_2°',
    '3º_año_from_df1': 'rep_3°',
    '4º_año_from_df1': 'rep_4°',
    '5º_año_from_df1': 'rep_5°',
    '6º_año_from_df1': 'rep_6°',

    # Abandono
    '1°_año_from_df2': 'aband_1°',
    '2°_año_from_df2': 'aband_2°',
    '3°_año_from_df2': 'aband_3°',
    '4°_año_from_df2': 'aband_4°',
    '5°_año_from_df2': 'aband_5°',
    '6°_año_from_df2': 'aband_6°',

    # Sobreedad
    '1°_año_from_df3': 'sobr_1°',
    '2°_año_from_df3': 'sobr_2°',
    '3°_año_from_df3': 'sobr_3°',
    '4°_año_from_df3': 'sobr_4°',
    '5°_año_from_df3': 'sobr_5°',
    '6°_año_from_df3': 'sobr_6°',

    # Promoción
    '1°_año_from_df4': 'prom_1°',
    '2°_año_from_df4': 'prom_2°',
    '3°_año_from_df4': 'prom_3°',
    '4°_año_from_df4': 'prom_4°',
    '5°_año_from_df4': 'prom_5°',
    '6°_año_from_df4': 'prom_6°',

    # Departamentos
    'ushuaia': 'mat_ushuaia',
    'rg': 'mat_rg',
    'ush_total': 'rep_ush_total',
    'rg_total': 'rep_rg_total',

    # Mat por año y depto
    '1º_año_ush': 'rep_1°_ush',
    '2º_año_ush': 'rep_2°_ush',
    '3º_año_ush': 'rep_3°_ush',
    '4º_año_ush': 'rep_4°_ush',
    '5º_año_ush': 'rep_5°_ush',
    '6º_año_ush': 'rep_6°_ush',

    '1º_año_rg': 'rep_1°_rg',
    '2º_año_rg': 'rep_2°_rg',
    '3º_año_rg': 'rep_3°_rg',
    '4º_año_rg': 'rep_4°_rg',
    '5º_año_rg': 'rep_5°_rg',
    '6º_año_rg': 'rep_6°_rg',

}, inplace=True)

print("✅ Columnas renombradas correctamente.")
df_merged

✅ Columnas renombradas correctamente.

,año,mat_total,mat_estatal,mat_privado,mat_1°,mat_2°,mat_3°,mat_4°,mat_5°,mat_6°,...,sobr_4°,sobr_5°,sobr_6°,prom_total_pct,prom_1°,prom_2°,prom_3°,prom_4°,prom_5°,prom_6°
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,13980,10551,3429,2910,2986.0,2857.0,2083.0,1737.0,1407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2006,14281,10707,3574,3123,2942.0,2836.0,2189.0,1796.0,1395.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2007,14383,10628,3755,3184,3044.0,2598.0,2226.0,1849.0,1482.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008,14762,10925,3837,3392,3111.0,2544.0,2321.0,1872.0,1522.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009,14996,11149,3847,3366,3176.0,2680.0,2385.0,1862.0,1527.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,14918,11025,3893,3289,3088.0,2696.0,2318.0,1943.0,1584.0,...,41.93,38.29,34.60,76.53,76.44,74.00,76.34,76.53,82.24,71.28
11,2011,14935,10803,4132,3203,3116.0,2647.0,2419.0,1943.0,1607.0,...,32.53,27.48,27.48,77.00,76.30,73.11,77.64,78.42,83.58,70.38
12,2012,15265,10934,4331,3379,3128.0,2643.0,2444.0,2034.0,1637.0,...,29.77,27.26,23.82,82.16,84.14,77.70,84.71,82.32,88.94,74.40
13,2013,15701,11330,4371,3304,3347.0,2692.0,2418.0,2123.0,1817.0,...,43.34,41.92,34.18,82.61,85.62,75.41,82.99,85.15,90.44,75.23
14,2014,16089,11661,4428,3166,3404.0,2907.0,2455.0,2189.0,1959.0,...,39.96,37.32,35.99,80.94,85.57,76.73,81.32,83.10,89.68,67.89
15,2015,16109,11673,4436,3223,3255.0,2924.0,2576.0,2146.0,1963.0,...,36.34,34.58,31.02,84.07,90.16,82.27,79.27,84.36,90.07,70.66
16,2016,16402,11795,4607,3216,3316.0,2935.0,2633.0,2312.0,1934.0,...,33.31,33.56,32.11,84.30,91.82,81.48,82.76,83.90,88.93,73.99
17,2017,16713,12034,4679,3092,3352.0,2971.0,2642.0,2337.0,2068.0,...,31.68,30.85,28.92,86.39,94.70,83.98,84.95,85.88,92.04,74.18
18,2018,17096,12389,4707,3162,3298.0,3072.0,2738.0,2401.0,2165.0,...,28.89,27.53,26.88,87.40,93.30,87.63,89.55,87.29,92.04,70.35
19,2019,17251,12707,4544,3018,3230.0,3078.0,2908.0,2512.0,2225.0,...,28.95,27.67,24.18,88.50,95.63,89.04,88.24,88.10,91.64,75.37
20,2020,17685,13148,4537,3095,3160.0,3126.0,2930.0,2750.0,2329.0,...,25.69,28.31,22.33,93.48,100.39,99.10,100.26,98.08,97.81,56.98
21,2021,18139,13550,4589,3015,3071.0,3098.0,3100.0,2856.0,2681.0,...,20.35,23.21,24.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2022,18045,13418,4627,3015,3125.0,2991.0,3031.0,2923.0,2607.0,...,19.66,21.55,22.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Tras observación de columnas duplicadas, se procede a buscarlas por índice y renombrarlas. 
columnas = list(df_merged.columns)

# Reemplazar los nombres entre los índices 37 y 42 inclusive
for i in range(37, 43):
    sufijo = columnas[i].split('_')[1]  # extrae '1°', '2°', etc.
    columnas[i] = f'aband_{sufijo}'

# Asignar los nuevos nombres al DataFrame
df_merged.columns = columnas

In [43]:
#Renombrado de dataset- 
DatosAbandonoTDF = df_merged.copy()
DatosAbandonoTDF.head()

,año,mat_total,mat_estatal,mat_privado,mat_1°,mat_2°,mat_3°,mat_4°,mat_5°,mat_6°,...,sobr_4°,sobr_5°,sobr_6°,prom_total_pct,prom_1°,prom_2°,prom_3°,prom_4°,prom_5°,prom_6°
0,2000,10593,7555,3038,2131,2038.0,1976.0,1847.0,1377.0,1224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,12357,9191,3166,2760,2447.0,2157.0,1919.0,1648.0,1235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,13115,9996,3119,3056,2774.0,2207.0,1847.0,1617.0,1384.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,13276,10094,3182,2926,2907.0,2468.0,1997.0,1599.0,1379.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,13553,10247,3306,2780,2974.0,2692.0,1984.0,1769.0,1354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Creación de variable objetivo: Abandono binario**

In [83]:
df_merged['abandono_binario'] = df_merged['aband_total_pct'].apply(lambda x: 1 if pd.notna(x) and x > 5 else 0)
df_merged['abandono_binario'].value_counts()

abandono_binario
1    12
0    11
Name: count, dtype: int64

In [92]:
#Descarga en .xlsx para verificar manualmente columnas. 
from IPython.display import FileLink, display

# Suponiendo que ya tenés df_merged creado
# df_merged = ...

# 1. Exportar a archivo Excel
archivo = "DatosAbandonoTDF.xlsx"
df_merged.to_excel(archivo, index=False)

# 2. Mostrar botón de descarga
display(FileLink(archivo))

C:\Users\maric\abandono-escolar-tdf\notebooks\DatosAbandonoTDF.xlsx