# üìò Proyecto: An√°lisis del Abandono Escolar en TDF

Este cuaderno aplica t√©cnicas de Aprendizaje Autom√°tico para analizar el abandono escolar en Tierra del Fuego. Utiliza datos reales del sistema educativo local.

---

## üì• Carga de Datos

In [3]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd

# Ruta base donde est√°n tus archivos
base_path = 'C:/Users/maric/OneDrive/Documentos/Aprendizaje autom√°tico/Docs abandono escolar/DATA/'

# ‚úÖ 1. Dataset de PROMOCI√ìN, SOBREEDAD y ABANDONO
promocion_df = pd.read_excel(base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx')

# ‚úÖ 2. Dataset de MATR√çCULA
matricula_df = pd.read_excel(base_path + '04-1-09-Secundario-comun.-Matricula-por-sector-de-gestion-ano-de-estudio-y-departamento.-TDF-USH-RGA-y-AA.xlsx')

# ‚úÖ 3. Dataset de REPITENTES
repitentes_df = pd.read_excel(base_path + '04-1-10-Secundario-comun.-Repitentes-por-sector-de-gestion-y-ano-de-estudio.-2008-2021.xlsx')

# Verificar contenido
print("‚úîÔ∏è Datos cargados correctamente")
print("promocion_df ‚Üí", promocion_df.shape)
print("matricula_df ‚Üí", matricula_df.shape)
print("repitentes_df ‚Üí", repitentes_df.shape)

‚úîÔ∏è Datos cargados correctamente
promocion_df ‚Üí (9, 1)
matricula_df ‚Üí (38, 18)
repitentes_df ‚Üí (28, 27)

In [5]:
repitentes_df.head(15)

,"Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A√±o,Total provincial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Departamento R√≠o Grande,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,Sector estatal,Sector privado,NaN,A√±o de estudio,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total,A√±o de estudio,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1¬∞,2¬∞,3¬∞,4¬∞,5¬∞,...,5¬∞,6¬∞,NaN,NaN,1¬∞,2¬∞,3¬∞,4¬∞,5¬∞,6¬∞
4,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2008,14.61,18.86,2.5,NaN,18.19,18.77,15.88,16.2,9.24,...,9.63,0.3,NaN,14.92,20.78,18.54,14.83,16.3,8.9,0
7,2009,13.38,16.81,3.46,NaN,18.63,17.73,15.11,10.57,8.06,...,9.74,0.28,NaN,14.74,21.5,18.94,17.4,11.45,6.67,0.99
8,2010,13.76,17.51,3.16,NaN,18.52,19.49,13.43,13.03,8.7,...,12.01,0.7,NaN,12.33,18.61,18.59,11.86,8.54,5.59,0.46
9,2011,14.33,19.28,1.38,NaN,19.39,22.02,13.79,13.15,7.05,...,5.49,1.51,NaN,14.68,20.17,21.59,14.74,12.08,8.53,0.23
10,2012,10,13.1,2.19,NaN,13.47,16.11,9.84,7.73,5.46,...,4.43,0.12,NaN,9.88,13.73,14.6,10.32,5.97,6.36,0.85
11,2013,10.45,13.53,2.47,NaN,10.02,17.18,14.23,7.57,6.12,...,4.67,1.08,NaN,10.83,9.87,17.45,14.01,7.95,7.43,3.06
12,2014,9.71,12.72,1.81,NaN,12.13,16.04,10.73,8.76,4.84,...,6.34,0,NaN,9.57,11.72,16.05,11.88,7.34,3.6,0
13,2015,7.81,10.37,1.06,NaN,8.44,12.53,8.82,7.22,6.15,...,5.75,0,NaN,7.55,7.39,11.38,9.37,7.07,6.47,0.09
14,2016,7.74,10.27,1.17,NaN,7.59,12.03,9.17,8.09,5.54,...,5.13,0.23,NaN,8.02,8.03,12.51,9.45,7.6,5.87,0.95

In [6]:
repitentes_df_clean = repitentes_df.copy()

# Eliminar filas vac√≠as o de encabezados textuales
repitentes_df_clean = repitentes_df_clean.drop(index=[0, 1, 2, 3, 4], errors='ignore')

# Reiniciar el √≠ndice
repitentes_df_clean.reset_index(drop=True, inplace=True)

# Visualizar resultado
repitentes_df_clean.head()

,"Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,14.61,18.86,2.5,NaN,18.19,18.77,15.88,16.2,9.24,...,9.63,0.3,NaN,14.92,20.78,18.54,14.83,16.3,8.9,0
2,2009,13.38,16.81,3.46,NaN,18.63,17.73,15.11,10.57,8.06,...,9.74,0.28,NaN,14.74,21.5,18.94,17.4,11.45,6.67,0.99
3,2010,13.76,17.51,3.16,NaN,18.52,19.49,13.43,13.03,8.7,...,12.01,0.7,NaN,12.33,18.61,18.59,11.86,8.54,5.59,0.46
4,2011,14.33,19.28,1.38,NaN,19.39,22.02,13.79,13.15,7.05,...,5.49,1.51,NaN,14.68,20.17,21.59,14.74,12.08,8.53,0.23

In [7]:
repitentes_df_clean.columns

Index(['Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [8]:
repitentes_df_clean.columns.tolist()

['Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26']

In [9]:
repitentes_df_clean = repitentes_df_clean.dropna(axis=1, how='all')

In [10]:
repitentes_df_clean.columns

Index(['Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

In [11]:
repitentes_path = "C:/Users/maric/OneDrive/Documentos/Aprendizaje autom√°tico/Docs abandono escolar/DATA/04-1-10-Secundario-comun.-Repitentes-por-sector-de-gestion-y-ano-de-estudio.-2008-2021.xlsx"

In [12]:
pd.ExcelFile(repitentes_path).sheet_names

['04_1_10', 'Ficha t√©cnica']

In [13]:
import pandas as pd

# Ruta al archivo
repitentes_path = "C:/Users/maric/OneDrive/Documentos/Aprendizaje autom√°tico/Docs abandono escolar/DATA/04-1-10-Secundario-comun.-Repitentes-por-sector-de-gestion-y-ano-de-estudio.-2008-2021.xlsx"

# Cargar la hoja correcta
repitentes_df = pd.read_excel(repitentes_path, sheet_name='04_1_10')

# Ver las primeras filas
repitentes_df.head(10)

,"Secundario com√∫n. Repitentes por sector de gesti√≥n y a√±o de estudio seg√∫n departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2008-2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A√±o,Total provincial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Departamento R√≠o Grande,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,Sector estatal,Sector privado,NaN,A√±o de estudio,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total,A√±o de estudio,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1¬∞,2¬∞,3¬∞,4¬∞,5¬∞,...,5¬∞,6¬∞,NaN,NaN,1¬∞,2¬∞,3¬∞,4¬∞,5¬∞,6¬∞
4,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2008,14.61,18.86,2.5,NaN,18.19,18.77,15.88,16.2,9.24,...,9.63,0.3,NaN,14.92,20.78,18.54,14.83,16.3,8.9,0
7,2009,13.38,16.81,3.46,NaN,18.63,17.73,15.11,10.57,8.06,...,9.74,0.28,NaN,14.74,21.5,18.94,17.4,11.45,6.67,0.99
8,2010,13.76,17.51,3.16,NaN,18.52,19.49,13.43,13.03,8.7,...,12.01,0.7,NaN,12.33,18.61,18.59,11.86,8.54,5.59,0.46
9,2011,14.33,19.28,1.38,NaN,19.39,22.02,13.79,13.15,7.05,...,5.49,1.51,NaN,14.68,20.17,21.59,14.74,12.08,8.53,0.23

In [14]:
repitentes_df = pd.read_excel(repitentes_path, sheet_name='04_1_10', skiprows=5)

In [15]:
repitentes_df.head()

,Unnamed: 0,Unnamed: 1,%,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,%.2,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,14.61,18.86,2.50,NaN,18.19,18.77,15.88,16.20,9.24,...,9.63,0.30,NaN,14.92,20.78,18.54,14.83,16.30,8.90,0.00
2,2009,13.38,16.81,3.46,NaN,18.63,17.73,15.11,10.57,8.06,...,9.74,0.28,NaN,14.74,21.50,18.94,17.40,11.45,6.67,0.99
3,2010,13.76,17.51,3.16,NaN,18.52,19.49,13.43,13.03,8.70,...,12.01,0.70,NaN,12.33,18.61,18.59,11.86,8.54,5.59,0.46
4,2011,14.33,19.28,1.38,NaN,19.39,22.02,13.79,13.15,7.05,...,5.49,1.51,NaN,14.68,20.17,21.59,14.74,12.08,8.53,0.23

In [16]:
import pandas as pd

# Ruta al archivo
repitentes_path = "C:/Users/maric/OneDrive/Documentos/Aprendizaje autom√°tico/Docs abandono escolar/DATA/04-1-10-Secundario-comun.-Repitentes-por-sector-de-gestion-y-ano-de-estudio.-2008-2021.xlsx"

# Leer la hoja correcta, salteando encabezados largos
repitentes_df = pd.read_excel(repitentes_path, sheet_name='04_1_10', skiprows=6)

# Eliminar columnas vac√≠as (separadoras visuales del Excel)
repitentes_df = repitentes_df.dropna(axis=1, how='all')

# Verificar cu√°ntas columnas reales quedan
print(f"Columnas reales: {len(repitentes_df.columns)}")

# Renombrar columnas seg√∫n la estructura de la imagen
repitentes_df.columns = [
    "A√±o",
    "Porc_Total",
    "Porc_Estatal",
    "Porc_Privado",
    "1¬∫ A√±o",
    "2¬∫ A√±o",
    "3¬∫ A√±o",
    "4¬∫ A√±o",
    "5¬∫ A√±o",
    "6¬∫ A√±o",
    "Ush_Total",
    "1¬∫ A√±o USH",
    "2¬∫ A√±o USH",
    "3¬∫ A√±o USH ",
    "4¬∫ A√±o USH",
    "5¬∫ A√±o USH",
    "6¬∫ A√±o USH",
    "RG_Total",
    "1¬∫ A√±o RG ",
    "2¬∫ A√±o RG",
    "3¬∫ A√±o RG",
    "4¬∫ A√±o RG",
    "5¬∫ A√±o RG",
    "6¬∫ A√±o RG"
]

# Convertir todas las columnas (menos A√±o) a num√©rico
for col in repitentes_df.columns:
    if col != "A√±o":
        repitentes_df[col] = pd.to_numeric(repitentes_df[col], errors='coerce')

# Mostrar primeras filas
repitentes_df.head()

Columnas reales: 24

,A√±o,Porc_Total,Porc_Estatal,Porc_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,...,4¬∫ A√±o USH,5¬∫ A√±o USH,6¬∫ A√±o USH,RG_Total,1¬∫ A√±o RG,2¬∫ A√±o RG,3¬∫ A√±o RG,4¬∫ A√±o RG,5¬∫ A√±o RG,6¬∫ A√±o RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85

In [17]:
print(len(matricula_df.columns))
matricula_df.columns.tolist()

18

['Secundario com√∫n. Matr√≠cula por sector de gesti√≥n, a√±o de estudio y departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2000-2022',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17']

In [18]:
matricula_df = matricula_df.dropna(axis=1, how='all')

In [19]:
matricula_df = matricula_df.loc[:, ~matricula_df.isin(["‚Ä¶", ".", ""]).all()]
matricula_df.head()

,"Secundario com√∫n. Matr√≠cula por sector de gesti√≥n, a√±o de estudio y departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2000-2022",Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A√±o,Matr√≠cula del nivel secundario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Matr√≠cula,Sector de gesti√≥n,NaN,A√±o de estudio,NaN,NaN,NaN,NaN,NaN,NaN,Departamento,NaN,NaN,NaN
3,NaN,NaN,Estatal,Privado,1,2.0,3.0,4.0,5.0,6.0,7.0,Ushuaia,R√≠o Grande (1),Tolhuin (1),Ant√°rtida Argentina
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
matricula_df.columns.tolist()

['Secundario com√∫n. Matr√≠cula por sector de gesti√≥n, a√±o de estudio y departamento. Departamentos Ushuaia, R√≠o Grande y Ant√°rtida Argentina, provincia de Tierra del Fuego AeIAS. A√±os 2000-2022',
 'Unnamed: 1',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17']

In [21]:
import pandas as pd

# Cargar el archivo (ajust√° la ruta si est√°s en local)
matricula_path = "C:/Users/maric/OneDrive/Documentos/Aprendizaje autom√°tico/Docs abandono escolar/DATA/04-1-09-Secundario-comun.-Matricula-por-sector-de-gestion-ano-de-estudio-y-departamento.-TDF-USH-RGA-y-AA.xlsx"

# Saltar las primeras 5 filas de encabezados multil√≠nea
matricula_df = pd.read_excel(matricula_path, skiprows=5)

# Eliminar columnas completamente vac√≠as (separadoras visuales)
matricula_df = matricula_df.dropna(axis=1, how='all')

# Renombrar columnas √∫tiles (15 visibles)
matricula_df.columns = [
    "A√±o",
    "Mat_Total",
    "Mat_Estatal",
    "Mat_Privado",
    "1¬∫ A√±o",
    "2¬∫ A√±o",
    "3¬∫ A√±o",
    "4¬∫ A√±o",
    "5¬∫ A√±o",
    "6¬∫ A√±o",
    "7¬∫ A√±o",
    "Ushuaia",
    "RG",
    "Tolhuin",
    "Antartida"
]

# Filtrar filas v√°lidas (a√±os num√©ricos)
matricula_df = matricula_df[matricula_df["A√±o"].apply(lambda x: str(x).isdigit())]

# Reemplazar s√≠mbolos no num√©ricos como "‚Ä¶" o "." por NaN
matricula_df.replace(["‚Ä¶", ".", "‚Ä¶ ", "-", "‚Äî"], pd.NA, inplace=True)

# Convertir columnas num√©ricas
for col in matricula_df.columns:
    if col != "A√±o":
        matricula_df[col] = pd.to_numeric(matricula_df[col], errors='coerce')

# Mostrar resultado final
matricula_df.head()

C:\Users\maric\AppData\Local\Temp\ipykernel_27436\2483822993.py:35: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  matricula_df.replace(["‚Ä¶", ".", "‚Ä¶ ", "-", "‚Äî"], pd.NA, inplace=True)

,A√±o,Mat_Total,Mat_Estatal,Mat_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,7¬∫ A√±o,Ushuaia,RG,Tolhuin,Antartida
0,2000,10593.0,7555.0,3038.0,2131.0,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,NaN,NaN,NaN,NaN
1,2001,12357.0,9191.0,3166.0,2760.0,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,NaN,NaN,NaN,NaN
2,2002,13115.0,9996.0,3119.0,3056.0,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,NaN,NaN,NaN,NaN
3,2003,13276.0,10094.0,3182.0,2926.0,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,NaN,NaN,NaN,NaN
4,2004,13553.0,10247.0,3306.0,2780.0,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,NaN,NaN,NaN,NaN

In [22]:
# Mostrar primeros registros de cada dataset

print("üìä PROMOCI√ìN, SOBREEDAD Y ABANDONO")
display(promocion_df.head(10))

print("\nüìä MATR√çCULA")
display(matricula_df.head(10))

print("\nüìä REPITENTES")
display(repitentes_df.head(10))

üìä PROMOCI√ìN, SOBREEDAD Y ABANDONO

  Secundario com√∫n. Promoci√≥n efectiva, sobreedad y abandono interanual por a√±o de estudio. Provincia de Tierra del Fuego AeIAS.
0                                                NaN
1                                             √çndice
2                                                NaN
3             Tasa de promoci√≥n efectiva y sobreedad
4                         Tasa de abandono internual
5                                      Ficha t√©cnica
6                                                NaN
7                             Signos convencionales
8                    ‚Ä¶ Dato no disponible a la fecha

üìä MATR√çCULA

,A√±o,Mat_Total,Mat_Estatal,Mat_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,7¬∫ A√±o,Ushuaia,RG,Tolhuin,Antartida
0,2000,10593.0,7555.0,3038.0,2131.0,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,NaN,NaN,NaN,NaN
1,2001,12357.0,9191.0,3166.0,2760.0,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,NaN,NaN,NaN,NaN
2,2002,13115.0,9996.0,3119.0,3056.0,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,NaN,NaN,NaN,NaN
3,2003,13276.0,10094.0,3182.0,2926.0,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,NaN,NaN,NaN,NaN
4,2004,13553.0,10247.0,3306.0,2780.0,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,NaN,NaN,NaN,NaN
5,2005,13980.0,10551.0,3429.0,2910.0,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,NaN,NaN,NaN,NaN
6,2006,14281.0,10707.0,3574.0,3123.0,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,NaN,NaN,NaN,NaN
7,2007,14383.0,10628.0,3755.0,3184.0,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,NaN,NaN,NaN,NaN
8,2008,14762.0,10925.0,3837.0,3392.0,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,NaN,NaN,NaN,NaN
9,2009,14996.0,11149.0,3847.0,3366.0,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920.0,8076.0,NaN,0.0

üìä REPITENTES

,A√±o,Porc_Total,Porc_Estatal,Porc_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,...,4¬∫ A√±o USH,5¬∫ A√±o USH,6¬∫ A√±o USH,RG_Total,1¬∫ A√±o RG,2¬∫ A√±o RG,3¬∫ A√±o RG,4¬∫ A√±o RG,5¬∫ A√±o RG,6¬∫ A√±o RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63

In [23]:
# Cargar m√°s abajo en la misma hoja
promocion_df_alt = pd.read_excel(base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx', skiprows=15)

# Ver las primeras filas para ver si hay tabla √∫til
promocion_df_alt.head(15)

Empty DataFrame
Columns: []
Index: []

In [24]:
pd.ExcelFile(base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx').sheet_names

['√çndice', 'cuadro 1', 'cuadro 2', 'Ficha t√©cnica']

In [25]:
# Cargar hoja de promoci√≥n efectiva y sobreedad
cuadro1_df = pd.read_excel(
    base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx',
    sheet_name='cuadro 1',
    skiprows=4  # si ves texto antes, pod√©s ajustar este n√∫mero
)

# Cargar hoja de abandono interanual
cuadro2_df = pd.read_excel(
    base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx',
    sheet_name='cuadro 2',
    skiprows=4
)

# Mostrar primeros datos
print("üìä Cuadro 1: Promoci√≥n efectiva y sobreedad")
display(cuadro1_df.head(10))

print("\nüìä Cuadro 2: Abandono interanual")
display(cuadro2_df.head(10))

üìä Cuadro 1: Promoci√≥n efectiva y sobreedad

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253,NaN,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
2,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589,NaN,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
3,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398,NaN,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
4,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902,NaN,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
5,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782,NaN,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
6,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157,NaN,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
7,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727,NaN,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
8,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795,NaN,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
9,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642,NaN,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217

üìä Cuadro 2: Abandono interanual

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/2011,9.706395,5.047127,6.509067,10.237389,10.440035,9.058157,28.156566
2,2011/2012,8.670907,4.308461,4.878049,8.575746,8.433237,9.366958,28.811450
3,2012/2013,7.840440,2.397159,6.198083,5.448354,9.942717,5.604720,25.106903
4,2013/2014,6.935864,4.358354,7.409621,2.786033,7.278743,3.438530,22.619703
5,2014/2015,9.340796,2.305749,7.226792,7.946336,8.146640,5.481955,32.108218
6,2015/2016,8.062411,1.365188,5.130568,11.935705,8.423913,3.448276,29.291900
7,2016/2017,7.959134,0.590796,6.483715,8.074957,8.013673,5.536332,25.387797
8,2017/2018,6.457296,-0.873221,4.982100,6.395153,6.018168,2.310655,25.145068
9,2018/2019,7.151342,1.771031,3.881140,4.329427,6.975895,2.873803,28.960739

In [26]:
# Eliminar la primera fila vac√≠a de ambos cuadros
cuadro1_df = cuadro1_df.drop(index=0).reset_index(drop=True)
cuadro2_df = cuadro2_df.drop(index=0).reset_index(drop=True)

In [27]:
cuadro1_df.drop(cuadro1_df.columns[8], axis=1, inplace=True)
display(cuadro1_df.head(10))

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000

In [28]:
# Parte A: Promoci√≥n efectiva (columnas 0 a 8 excluyendo las vac√≠as si ya las borraste)
promocion_df_clean = cuadro1_df.iloc[:, 0:8].copy()
display(promocion_df_clean.head())
# Parte B: Sobreedad (columnas desde la columna 8 en adelante)
sobreedad_df_clean = cuadro1_df.iloc[:, 8:].copy()
display(sobreedad_df_clean.head())

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782

,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [29]:
# Copiar la columna 'A√±o' desde promoci√≥n
sobreedad_df_clean.insert(0, "A√±o", promocion_df_clean["Unnamed: 0"].values)
display(sobreedad_df_clean.head())

,A√±o,%.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [30]:
promocion_df_clean.columns = [
    "A√±o",
    "Porc_Total",
    "1¬∞ A√±o",
    "2¬∞ A√±o",
    "3¬∞ A√±o",
    "4¬∞ A√±o",
    "5¬∞ A√±o",
    "6¬∞ A√±o"
]

In [31]:
promocion_df_clean.head()

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782

In [32]:
sobreedad_df_clean.columns = [
    "A√±o",
    "Porc_Total",
    "1¬∞ A√±o",
    "2¬∞ A√±o",
    "3¬∞ A√±o",
    "4¬∞ A√±o",
    "5¬∞ A√±o",
    "6¬∞ A√±o"
]
sobreedad_df_clean.head()

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [33]:
cuadro2_df.head()

,Unnamed: 0,%,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2010/2011,9.706395,5.047127,6.509067,10.237389,10.440035,9.058157,28.156566
1,2011/2012,8.670907,4.308461,4.878049,8.575746,8.433237,9.366958,28.811450
2,2012/2013,7.840440,2.397159,6.198083,5.448354,9.942717,5.604720,25.106903
3,2013/2014,6.935864,4.358354,7.409621,2.786033,7.278743,3.438530,22.619703
4,2014/2015,9.340796,2.305749,7.226792,7.946336,8.146640,5.481955,32.108218

In [34]:
cuadro2_df.columns = [
    "A√±o",
    "Porc_Total",
    "1¬∞ A√±o",
    "2¬∞ A√±o",
    "3¬∞ A√±o",
    "4¬∞ A√±o",
    "5¬∞ A√±o",
    "6¬∞ A√±o"
]
sobreedad_df_clean.head()

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749

In [35]:
abandono_df = cuadro2_df.copy()

In [36]:
# 1. Cargar la hoja "cuadro 2" con abandono interanual
abandono_df = pd.read_excel(
    base_path + '04_01_06-Secundario-comun.-Promocion-efectiva-sobreedad-y-abandono-interanual-por-ano-de-estudio.-TDF.xlsx',
    sheet_name='cuadro 2',
    skiprows=4
)

# 2. Eliminar la primera fila si est√° vac√≠a
abandono_df = abandono_df.drop(index=0).reset_index(drop=True)

# 3. Eliminar columnas completamente vac√≠as (separadoras visuales)
abandono_df = abandono_df.dropna(axis=1, how='all')

# 4. Renombrar columnas
abandono_df.columns = [
    "A√±o",
    "Porc_Total",
    "1¬∞ A√±o",
    "2¬∞ A√±o",
    "3¬∞ A√±o",
    "4¬∞ A√±o",
    "5¬∞ A√±o",
    "6¬∞ A√±o"
]

# 5. Reemplazar valores no v√°lidos
abandono_df.replace(["‚Ä¶", ".", "-", "‚Äî"], pd.NA, inplace=True)

# 6. Convertir columnas num√©ricas (excepto A√±o)
for col in abandono_df.columns:
    if col != "A√±o":
        abandono_df[col] = pd.to_numeric(abandono_df[col], errors='coerce')

# 7. Redondear a 2 decimales
for col in abandono_df.columns:
    if col != "A√±o":
        abandono_df[col] = abandono_df[col].round(2)

# 8. Verificar resultado
display(abandono_df.head())

         A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11

In [37]:
# Asegurarse de que todas las columnas "A√±o" sean string y sin espacios
for df in [promocion_df_clean, sobreedad_df_clean, abandono_df]:
    df["A√±o"] = df["A√±o"].astype(str).str.strip()

In [38]:
print("üìä Promoci√≥n efectiva")
display(promocion_df_clean.head(10))

print("üìä Sobreedad")
display(sobreedad_df_clean.head(10))

print("üìä Abandono interanual")
display(abandono_df.head(10))

print("üìä Repitentes")
display(repitentes_df.head(10))

print("üìä Matr√≠cula")
display(matricula_df.head(10))

üìä Promoci√≥n efectiva

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37

üìä Sobreedad

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000

üìä Abandono interanual

         A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5  2015/2016        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6  2016/2017        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7  2017/2018        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8  2018/2019        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9  2019/2020        5.55   -0.66    3.53    4.74    5.16    1.23   23.42

üìä Repitentes

,A√±o,Porc_Total,Porc_Estatal,Porc_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,...,4¬∫ A√±o USH,5¬∫ A√±o USH,6¬∫ A√±o USH,RG_Total,1¬∫ A√±o RG,2¬∫ A√±o RG,3¬∫ A√±o RG,4¬∫ A√±o RG,5¬∫ A√±o RG,6¬∫ A√±o RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63

üìä Matr√≠cula

,A√±o,Mat_Total,Mat_Estatal,Mat_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,7¬∫ A√±o,Ushuaia,RG,Tolhuin,Antartida
0,2000,10593.0,7555.0,3038.0,2131.0,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,NaN,NaN,NaN,NaN
1,2001,12357.0,9191.0,3166.0,2760.0,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,NaN,NaN,NaN,NaN
2,2002,13115.0,9996.0,3119.0,3056.0,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,NaN,NaN,NaN,NaN
3,2003,13276.0,10094.0,3182.0,2926.0,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,NaN,NaN,NaN,NaN
4,2004,13553.0,10247.0,3306.0,2780.0,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,NaN,NaN,NaN,NaN
5,2005,13980.0,10551.0,3429.0,2910.0,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,NaN,NaN,NaN,NaN
6,2006,14281.0,10707.0,3574.0,3123.0,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,NaN,NaN,NaN,NaN
7,2007,14383.0,10628.0,3755.0,3184.0,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,NaN,NaN,NaN,NaN
8,2008,14762.0,10925.0,3837.0,3392.0,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,NaN,NaN,NaN,NaN
9,2009,14996.0,11149.0,3847.0,3366.0,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920.0,8076.0,NaN,0.0

In [39]:
def limpiar_columna_anio(df):
    df = df.copy()
    df["A√±o"] = (
        df["A√±o"]
        .astype(str)
        .str.replace(r"\s+", "", regex=True)
        .str.replace(u"\xa0", "", regex=False)
        .str.strip()
    )
    df = df[df["A√±o"].str.contains(r"^\d{4}/?\d{0,4}$", regex=True)]
    return df.reset_index(drop=True)

promocion_df_clean = limpiar_columna_anio(promocion_df_clean)
sobreedad_df_clean = limpiar_columna_anio(sobreedad_df_clean)
abandono_df = limpiar_columna_anio(abandono_df)
repitentes_df = limpiar_columna_anio(repitentes_df)
matricula_df = limpiar_columna_anio(matricula_df)

In [40]:
print("üìä Promoci√≥n efectiva")
display(promocion_df_clean.head(10))

print("üìä Sobreedad")
display(sobreedad_df_clean.head(10))

print("üìä Abandono interanual")
display(abandono_df.head(10))

print("üìä Repitentes")
display(repitentes_df.head(10))

print("üìä Matr√≠cula")
display(matricula_df.head(10))

üìä Promoci√≥n efectiva

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,76.531707,76.436607,73.996114,76.335312,76.531493,82.243953,71.275253
1,2011,77.000335,76.303466,73.106547,77.635059,78.420835,83.58209,70.379589
2,2012,82.157595,84.137319,77.699681,84.71434,82.324059,88.938053,74.404398
3,2013,82.612572,85.623487,75.410816,82.986627,85.153019,90.438059,75.233902
4,2014,80.939055,85.565382,76.733255,81.320949,83.095723,89.675651,67.891782
5,2015,84.067881,90.164443,82.273425,79.274966,84.35559,90.074557,70.657157
6,2016,84.30197,91.822139,81.483715,82.759796,83.896696,88.927336,73.991727
7,2017,86.38683,94.69599,83.979714,84.954561,85.881908,92.041078,74.17795
8,2018,87.396056,93.295383,87.628866,89.550781,87.289993,92.044981,70.34642
9,2019,88.5,95.63,89.04,88.24,88.1,91.64,75.37

üìä Sobreedad

,A√±o,Porc_Total,1¬∞ A√±o,2¬∞ A√±o,3¬∞ A√±o,4¬∞ A√±o,5¬∞ A√±o,6¬∞ A√±o
0,2010,41.064486,38.917604,44.170984,45.178042,41.932701,38.291302,34.595960
1,2011,31.302524,30.765886,33.346049,33.388242,32.527260,27.475370,27.482014
2,2012,28.470718,26.849625,30.909618,30.325404,29.774655,27.263603,23.821734
3,2013,40.481498,37.590799,40.603526,44.427935,43.341605,41.921809,34.177215
4,2014,37.947761,31.522426,40.775558,41.726866,39.959267,37.322979,35.987749
5,2015,33.200721,27.241700,34.685100,35.807114,36.335404,34.575955,31.023943
6,2016,31.157470,24.502488,32.629674,32.333901,33.308014,33.564014,32.109617
7,2017,30.354756,23.285899,33.949881,33.086503,31.680545,30.851519,28.916828
8,2018,26.146353,18.342821,26.440267,29.817708,28.889701,27.530196,26.882217
9,2019,23.920000,14.610000,22.450000,26.580000,28.950000,27.670000,24.180000

üìä Abandono interanual

         A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11
5  2015/2016        8.06    1.37    5.13   11.94    8.42    3.45   29.29
6  2016/2017        7.96    0.59    6.48    8.07    8.01    5.54   25.39
7  2017/2018        6.46   -0.87    4.98    6.40    6.02    2.31   25.15
8  2018/2019        7.15    1.77    3.88    4.33    6.98    2.87   28.96
9  2019/2020        5.55   -0.66    3.53    4.74    5.16    1.23   23.42

üìä Repitentes

,A√±o,Porc_Total,Porc_Estatal,Porc_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,...,4¬∫ A√±o USH,5¬∫ A√±o USH,6¬∫ A√±o USH,RG_Total,1¬∫ A√±o RG,2¬∫ A√±o RG,3¬∫ A√±o RG,4¬∫ A√±o RG,5¬∫ A√±o RG,6¬∫ A√±o RG
0,2008,14.61,18.86,2.50,18.19,18.77,15.88,16.20,9.24,0.13,...,16.07,9.63,0.30,14.92,20.78,18.54,14.83,16.30,8.90,0.00
1,2009,13.38,16.81,3.46,18.63,17.73,15.11,10.57,8.06,0.65,...,9.52,9.74,0.28,14.74,21.50,18.94,17.40,11.45,6.67,0.99
2,2010,13.76,17.51,3.16,18.52,19.49,13.43,13.03,8.70,0.57,...,17.69,12.01,0.70,12.33,18.61,18.59,11.86,8.54,5.59,0.46
3,2011,14.33,19.28,1.38,19.39,22.02,13.79,13.15,7.05,0.81,...,14.27,5.49,1.51,14.68,20.17,21.59,14.74,12.08,8.53,0.23
4,2012,10.00,13.10,2.19,13.47,16.11,9.84,7.73,5.46,0.49,...,9.60,4.43,0.12,9.88,13.73,14.60,10.32,5.97,6.36,0.85
5,2013,10.45,13.53,2.47,10.02,17.18,14.23,7.57,6.12,2.15,...,7.12,4.67,1.08,10.83,9.87,17.45,14.01,7.95,7.43,3.06
6,2014,9.71,12.72,1.81,12.13,16.04,10.73,8.76,4.84,0.00,...,10.57,6.34,0.00,9.57,11.72,16.05,11.88,7.34,3.60,0.00
7,2015,7.81,10.37,1.06,8.44,12.53,8.82,7.22,6.15,0.05,...,7.41,5.75,0.00,7.55,7.39,11.38,9.37,7.07,6.47,0.09
8,2016,7.74,10.27,1.17,7.59,12.03,9.17,8.09,5.54,0.62,...,8.70,5.13,0.23,8.02,8.03,12.51,9.45,7.60,5.87,0.95
9,2017,7.16,9.51,0.73,6.18,11.04,8.65,8.10,5.65,0.68,...,9.21,7.85,0.73,6.27,5.44,9.79,8.16,7.24,3.87,0.63

üìä Matr√≠cula

,A√±o,Mat_Total,Mat_Estatal,Mat_Privado,1¬∫ A√±o,2¬∫ A√±o,3¬∫ A√±o,4¬∫ A√±o,5¬∫ A√±o,6¬∫ A√±o,7¬∫ A√±o,Ushuaia,RG,Tolhuin,Antartida
0,2000,10593.0,7555.0,3038.0,2131.0,2038.0,1976.0,1847.0,1377.0,1224.0,0.0,NaN,NaN,NaN,NaN
1,2001,12357.0,9191.0,3166.0,2760.0,2447.0,2157.0,1919.0,1648.0,1235.0,191.0,NaN,NaN,NaN,NaN
2,2002,13115.0,9996.0,3119.0,3056.0,2774.0,2207.0,1847.0,1617.0,1384.0,230.0,NaN,NaN,NaN,NaN
3,2003,13276.0,10094.0,3182.0,2926.0,2907.0,2468.0,1997.0,1599.0,1379.0,0.0,NaN,NaN,NaN,NaN
4,2004,13553.0,10247.0,3306.0,2780.0,2974.0,2692.0,1984.0,1769.0,1354.0,0.0,NaN,NaN,NaN,NaN
5,2005,13980.0,10551.0,3429.0,2910.0,2986.0,2857.0,2083.0,1737.0,1407.0,0.0,NaN,NaN,NaN,NaN
6,2006,14281.0,10707.0,3574.0,3123.0,2942.0,2836.0,2189.0,1796.0,1395.0,0.0,NaN,NaN,NaN,NaN
7,2007,14383.0,10628.0,3755.0,3184.0,3044.0,2598.0,2226.0,1849.0,1482.0,0.0,NaN,NaN,NaN,NaN
8,2008,14762.0,10925.0,3837.0,3392.0,3111.0,2544.0,2321.0,1872.0,1522.0,0.0,NaN,NaN,NaN,NaN
9,2009,14996.0,11149.0,3847.0,3366.0,3176.0,2680.0,2385.0,1862.0,1527.0,0.0,6920.0,8076.0,NaN,0.0

In [41]:
print("üîé A√±os en promoci√≥n_df_clean:")
print(promocion_df_clean["A√±o"].unique())

print("\nüîé A√±os en sobreedad_df_clean:")
print(sobreedad_df_clean["A√±o"].unique())

print("\nüîé A√±os en abandono_df:")
print(abandono_df["A√±o"].unique())
# Convertir a conjuntos
set_prom = set(promocion_df_clean["A√±o"])
set_sobre = set(sobreedad_df_clean["A√±o"])
set_aband = set(abandono_df["A√±o"])

# Intersecciones
print("üéØ A√±os comunes entre los tres:")
print(set_prom & set_sobre & set_aband)

üîé A√±os en promoci√≥n_df_clean:
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021' '2022']

üîé A√±os en sobreedad_df_clean:
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021' '2022']

üîé A√±os en abandono_df:
['2010/2011' '2011/2012' '2012/2013' '2013/2014' '2014/2015' '2015/2016'
 '2016/2017' '2017/2018' '2018/2019' '2019/2020' '2020/2021' '2021/2022']
üéØ A√±os comunes entre los tres:
set()

In [42]:
# Funci√≥n para convertir y redondear columnas (excepto "A√±o")
def convertir_y_redondear(df):
    df = df.copy()
    for col in df.columns:
        if col != "A√±o":
            df[col] = pd.to_numeric(df[col], errors='coerce').round(2)
    return df

# Aplicar a los tres DataFrames originales
promocion_df_clean = convertir_y_redondear(promocion_df_clean)
sobreedad_df_clean = convertir_y_redondear(sobreedad_df_clean)
abandono_df = convertir_y_redondear(abandono_df)

# Mostrar para confirmar
print("üìò Promoci√≥n efectiva:")
display(promocion_df_clean.head(5))

print("üìó Sobreedad:")
display(sobreedad_df_clean.head(5))

print("üìï Abandono:")
display(abandono_df.head(5))

üìò Promoci√≥n efectiva:

    A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010       76.53   76.44   74.00   76.34   76.53   82.24   71.28
1  2011       77.00   76.30   73.11   77.64   78.42   83.58   70.38
2  2012       82.16   84.14   77.70   84.71   82.32   88.94   74.40
3  2013       82.61   85.62   75.41   82.99   85.15   90.44   75.23
4  2014       80.94   85.57   76.73   81.32   83.10   89.68   67.89

üìó Sobreedad:

    A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010       41.06   38.92   44.17   45.18   41.93   38.29   34.60
1  2011       31.30   30.77   33.35   33.39   32.53   27.48   27.48
2  2012       28.47   26.85   30.91   30.33   29.77   27.26   23.82
3  2013       40.48   37.59   40.60   44.43   43.34   41.92   34.18
4  2014       37.95   31.52   40.78   41.73   39.96   37.32   35.99

üìï Abandono:

         A√±o  Porc_Total  1¬∞ A√±o  2¬∞ A√±o  3¬∞ A√±o  4¬∞ A√±o  5¬∞ A√±o  6¬∞ A√±o
0  2010/2011        9.71    5.05    6.51   10.24   10.44    9.06   28.16
1  2011/2012        8.67    4.31    4.88    8.58    8.43    9.37   28.81
2  2012/2013        7.84    2.40    6.20    5.45    9.94    5.60   25.11
3  2013/2014        6.94    4.36    7.41    2.79    7.28    3.44   22.62
4  2014/2015        9.34    2.31    7.23    7.95    8.15    5.48   32.11

In [43]:
# Transformar columna A√±o en abandono_df para que coincida
abandono_df["A√±o"] = abandono_df["A√±o"].str.slice(0, 4)

In [44]:
print("üîé A√±os en promoci√≥n_df_clean:")
print(promocion_df_clean["A√±o"].unique())

print("\nüîé A√±os en sobreedad_df_clean:")
print(sobreedad_df_clean["A√±o"].unique())

print("\nüîé A√±os en abandono_df:")
print(abandono_df["A√±o"].unique())
# Convertir a conjuntos
set_prom = set(promocion_df_clean["A√±o"])
set_sobre = set(sobreedad_df_clean["A√±o"])
set_aband = set(abandono_df["A√±o"])

# Intersecciones
print("üéØ A√±os comunes entre los tres:")
print(set_prom & set_sobre & set_aband)

üîé A√±os en promoci√≥n_df_clean:
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021' '2022']

üîé A√±os en sobreedad_df_clean:
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021' '2022']

üîé A√±os en abandono_df:
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2021']
üéØ A√±os comunes entre los tres:
{'2016', '2010', '2017', '2018', '2019', '2015', '2011', '2020', '2021', '2013', '2014', '2012'}

## üßº Limpieza y Combinaci√≥n de Datos

In [46]:
# 1. Fusionar promoci√≥n y sobreedad
promocion_total_df = pd.merge(
    promocion_df_clean,
    sobreedad_df_clean,
    on="A√±o",
    suffixes=('_Promoci√≥n', '_Sobreedad')
)

# 2. Fusionar el resultado con abandono
df_final = pd.merge(
    promocion_total_df,
    abandono_df,
    on="A√±o"
)

# 3. Renombrar columnas de abandono con sufijo
col_abandono = abandono_df.columns.drop("A√±o")
nuevo_nombre = {col: col + "_Abandono" for col in col_abandono}
df_final.rename(columns=nuevo_nombre, inplace=True)

# 4. Mostrar la tabla combinada final
print("‚úÖ Tabla final combinada (Promoci√≥n + Sobreedad + Abandono):")
display(df_final.head(10))

‚úÖ Tabla final combinada (Promoci√≥n + Sobreedad + Abandono):

,A√±o,Porc_Total_Promoci√≥n,1¬∞ A√±o_Promoci√≥n,2¬∞ A√±o_Promoci√≥n,3¬∞ A√±o_Promoci√≥n,4¬∞ A√±o_Promoci√≥n,5¬∞ A√±o_Promoci√≥n,6¬∞ A√±o_Promoci√≥n,Porc_Total_Sobreedad,1¬∞ A√±o_Sobreedad,...,4¬∞ A√±o_Sobreedad,5¬∞ A√±o_Sobreedad,6¬∞ A√±o_Sobreedad,Porc_Total_Abandono,1¬∞ A√±o_Abandono,2¬∞ A√±o_Abandono,3¬∞ A√±o_Abandono,4¬∞ A√±o_Abandono,5¬∞ A√±o_Abandono,6¬∞ A√±o_Abandono
0,2010,76.53,76.44,74.00,76.34,76.53,82.24,71.28,41.06,38.92,...,41.93,38.29,34.60,9.71,5.05,6.51,10.24,10.44,9.06,28.16
1,2011,77.00,76.30,73.11,77.64,78.42,83.58,70.38,31.30,30.77,...,32.53,27.48,27.48,8.67,4.31,4.88,8.58,8.43,9.37,28.81
2,2012,82.16,84.14,77.70,84.71,82.32,88.94,74.40,28.47,26.85,...,29.77,27.26,23.82,7.84,2.40,6.20,5.45,9.94,5.60,25.11
3,2013,82.61,85.62,75.41,82.99,85.15,90.44,75.23,40.48,37.59,...,43.34,41.92,34.18,6.94,4.36,7.41,2.79,7.28,3.44,22.62
4,2014,80.94,85.57,76.73,81.32,83.10,89.68,67.89,37.95,31.52,...,39.96,37.32,35.99,9.34,2.31,7.23,7.95,8.15,5.48,32.11
5,2015,84.07,90.16,82.27,79.27,84.36,90.07,70.66,33.20,27.24,...,36.34,34.58,31.02,8.06,1.37,5.13,11.94,8.42,3.45,29.29
6,2016,84.30,91.82,81.48,82.76,83.90,88.93,73.99,31.16,24.50,...,33.31,33.56,32.11,7.96,0.59,6.48,8.07,8.01,5.54,25.39
7,2017,86.39,94.70,83.98,84.95,85.88,92.04,74.18,30.35,23.29,...,31.68,30.85,28.92,6.46,-0.87,4.98,6.40,6.02,2.31,25.15
8,2018,87.40,93.30,87.63,89.55,87.29,92.04,70.35,26.15,18.34,...,28.89,27.53,26.88,7.15,1.77,3.88,4.33,6.98,2.87,28.96
9,2019,88.50,95.63,89.04,88.24,88.10,91.64,75.37,23.92,14.61,...,28.95,27.67,24.18,5.55,-0.66,3.53,4.74,5.16,1.23,23.42

In [47]:
# Redondear todas las columnas num√©ricas a 2 decimales, excepto "A√±o"
for col in df_final.columns:
    if col != "A√±o":
        df_final[col] = df_final[col].round(2)

In [48]:
display(df_final.head(20))

,A√±o,Porc_Total_Promoci√≥n,1¬∞ A√±o_Promoci√≥n,2¬∞ A√±o_Promoci√≥n,3¬∞ A√±o_Promoci√≥n,4¬∞ A√±o_Promoci√≥n,5¬∞ A√±o_Promoci√≥n,6¬∞ A√±o_Promoci√≥n,Porc_Total_Sobreedad,1¬∞ A√±o_Sobreedad,...,4¬∞ A√±o_Sobreedad,5¬∞ A√±o_Sobreedad,6¬∞ A√±o_Sobreedad,Porc_Total_Abandono,1¬∞ A√±o_Abandono,2¬∞ A√±o_Abandono,3¬∞ A√±o_Abandono,4¬∞ A√±o_Abandono,5¬∞ A√±o_Abandono,6¬∞ A√±o_Abandono
0,2010,76.53,76.44,74.00,76.34,76.53,82.24,71.28,41.06,38.92,...,41.93,38.29,34.60,9.71,5.05,6.51,10.24,10.44,9.06,28.16
1,2011,77.00,76.30,73.11,77.64,78.42,83.58,70.38,31.30,30.77,...,32.53,27.48,27.48,8.67,4.31,4.88,8.58,8.43,9.37,28.81
2,2012,82.16,84.14,77.70,84.71,82.32,88.94,74.40,28.47,26.85,...,29.77,27.26,23.82,7.84,2.40,6.20,5.45,9.94,5.60,25.11
3,2013,82.61,85.62,75.41,82.99,85.15,90.44,75.23,40.48,37.59,...,43.34,41.92,34.18,6.94,4.36,7.41,2.79,7.28,3.44,22.62
4,2014,80.94,85.57,76.73,81.32,83.10,89.68,67.89,37.95,31.52,...,39.96,37.32,35.99,9.34,2.31,7.23,7.95,8.15,5.48,32.11
5,2015,84.07,90.16,82.27,79.27,84.36,90.07,70.66,33.20,27.24,...,36.34,34.58,31.02,8.06,1.37,5.13,11.94,8.42,3.45,29.29
6,2016,84.30,91.82,81.48,82.76,83.90,88.93,73.99,31.16,24.50,...,33.31,33.56,32.11,7.96,0.59,6.48,8.07,8.01,5.54,25.39
7,2017,86.39,94.70,83.98,84.95,85.88,92.04,74.18,30.35,23.29,...,31.68,30.85,28.92,6.46,-0.87,4.98,6.40,6.02,2.31,25.15
8,2018,87.40,93.30,87.63,89.55,87.29,92.04,70.35,26.15,18.34,...,28.89,27.53,26.88,7.15,1.77,3.88,4.33,6.98,2.87,28.96
9,2019,88.50,95.63,89.04,88.24,88.10,91.64,75.37,23.92,14.61,...,28.95,27.67,24.18,5.55,-0.66,3.53,4.74,5.16,1.23,23.42
10,2020,93.48,100.39,99.10,100.26,98.08,97.81,56.98,22.61,16.31,...,25.69,28.31,22.33,6.52,-0.42,0.90,-0.26,1.92,2.19,43.02
11,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.23,8.19,...,20.35,23.21,24.13,5.71,-1.23,1.82,3.62,4.58,5.53,21.89

## üîé Exploraci√≥n Inicial

## üìä Visualizaci√≥n

## üß† Modelado (por hacer)